In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [2]:
# Request to website and download HTML contents
movie_url = "https://www.boxofficemojo.com/year/2024/?grossesOption=calendarGrosses"

# Make a request
req = requests.get(movie_url)
content = req.text

# Use Beautiful Soup
soup = BeautifulSoup(content)

In [20]:
# Inspect page data to determine out to set up the scraping algorithm
rows = soup.findAll('tr')
data = rows[37].findAll('td')
data

[<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">37</td>,
 <td class="a-text-left mojo-field-type-release mojo-cell-wide"><a class="a-link-normal" href="/release/rl1901887489/?ref_=bo_yld_table_37">Star Wars: Episode I - The Phantom Menace</a><div class="a-section a-spacing-none"><span class="a-size-small a-color-secondary">2024 Re-release</span></div></td>,
 <td class="a-text-left mojo-field-type-genre hidden">-</td>,
 <td class="a-text-right mojo-field-type-money hidden">-</td>,
 <td class="a-text-right mojo-field-type-duration hidden">-</td>,
 <td class="a-text-right mojo-field-type-money mojo-estimatable">$12,587,146</td>,
 <td class="a-text-right mojo-field-type-positive_integer">2,700</td>,
 <td class="a-text-right mojo-field-type-money mojo-estimatable">$12,587,146</td>,
 <td class="a-text-left mojo-field-type-date a-nowrap">May 3</td>,
 <td class="a-text-left mojo-field-type-studio"><a class="a-link-normal" href="https://pro.imdb.com/company/co0226183/boxoffice/?view=releases&amp;ref_=mojo_yld_table_37&amp;rf=mojo_yld_table_37" rel="noopener" target="_blank">Walt Disney Studios Motion Pictures<svg class="mojo-new-window-svg" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
 <path d="M24,15.57251l3,3V23.5A3.50424,3.50424,0,0,1,23.5,27H8.5A3.50424,3.50424,0,0,1,5,23.5V8.5A3.50424,3.50424,0,0,1,8.5,5h4.92755l3,3H8.5a.50641.50641,0,0,0-.5.5v15a.50641.50641,0,0,0,.5.5h15a.50641.50641,0,0,0,.5-.5ZM19.81952,8.56372,12.8844,17.75a.49989.49989,0,0,0,.04547.65479l.66534.66528a.49983.49983,0,0,0,.65479.04553l9.18628-6.93518,2.12579,2.12585a.5.5,0,0,0,.84741-.27526l1.48273-9.35108a.50006.50006,0,0,0-.57214-.57214L17.969,5.59058a.5.5,0,0,0-.27526.84741Z"></path>
 </svg></a></td>,
 <td class="a-text-right mojo-field-type-boolean hidden">false</td>]

In [21]:
# Inspect page data to determine out to set up the scraping algorithm

for i in range(len(data)):
    print(data[i].text)

37
Star Wars: Episode I - The Phantom Menace2024 Re-release
-
-
-
$12,587,146
2,700
$12,587,146
May 3
Walt Disney Studios Motion Pictures


false

In [22]:
#Special occasion that is listed
print(data[1].findAll('a')[0].text)
print(data[1].findAll('span')[0].text)

Star Wars: Episode I - The Phantom Menace
2024 Re-release

In [27]:
print(len(data[1].findAll('span')))
print(len(data[1].findAll('span')))

1
1

In [38]:
#Test data construction

appended_data = []
for row in rows:
    data_row = {}
    data = row.findAll('td')
    if len(data) == 0:
        continue
    if len(data[1].findAll('span')) > 0:
        #re-release
        data_row['re_release'] = data[1].findAll('span')[0].text
        data_row['title'] = data[1].findAll('a')[0].text
    else:
        #normal release
        data_row['re_release'] = ""
        data_row['title'] = data[1].text
        
    data_row['rank'] = data[0].text
    data_row['gross'] = data[5].text
    data_row['num_theaters'] = data[6].text
    data_row['total_gross'] = data[7].text
    data_row['date'] = data[8].text
    data_row['distributor'] = data[9].text.strip()
    appended_data.append(data_row)
movie_data = pd.DataFrame(appended_data, columns = ['rank', 'title', 're_release', 'gross', 'num_theaters', 'total_gross', 'date', 'distributor'])

In [41]:
movie_data.head(3)

,rank,title,re_release,gross,num_theaters,total_gross,date,distributor
0,1,Dune: Part Two,,"$282,110,347","4,074","$282,110,347",Mar 1,Warner Bros.
1,2,Godzilla x Kong: The New Empire,,"$192,535,005","3,948","$192,535,005",Mar 29,Warner Bros.
2,3,Kung Fu Panda 4,,"$191,571,760","4,067","$191,571,760",Mar 8,Universal Pictures

In [42]:
# Create write function
def scrape_movie_summary(year):
    url=f'https://www.boxofficemojo.com/year/{year}/?grossesOption=calendarGrosses'
    req=requests.get(url)
    content=req.text
    soup=BeautifulSoup(content)
    rows=soup.findAll('tr')
    appended_data = []

    for row in rows:
        data_row = {}
        data = row.findAll('td')
        if len(data) == 0:
            continue
        if len(data[1].findAll('span')) > 0:
            #re-release
            data_row['re_release'] = data[1].findAll('span')[0].text
            data_row['title'] = data[1].findAll('a')[0].text
        else:
            #normal release
            data_row['re_release'] = ""
            data_row['title'] = data[1].text
        
        data_row['rank'] = data[0].text
        data_row['gross'] = data[5].text
        data_row['num_theaters'] = data[6].text
        data_row['total_gross'] = data[7].text
        data_row['date'] = data[8].text
        data_row['distributor'] = data[9].text.strip()
        appended_data.append(data_row)

    movie_data = pd.DataFrame(appended_data, columns = ['rank', 'title', 're_release', 'gross', 'num_theaters', 'total_gross', 'date', 'distributor']) 

    movie_data.to_csv(f'/Users/beek/Desktop/boxofficemojo_scraping/movie_info_datasource/movie_summary_{year}.csv', index=False)

In [44]:
#Get current year
todays_date = datetime.date.today()
current_year = todays_date.year

years = range(1982, current_year+1)

for year in years:
    print(year)
    scrape_movie_summary(year)

1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024